# Step 1: Import Data
* Import and Explore
* Put all codes into a function

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('sphist.csv')
print(data.head())
print(data.shape)

         Date         Open         High          Low        Close  \
0  2015-12-07  2090.419922  2090.419922  2066.780029  2077.070068
1  2015-12-04  2051.239990  2093.840088  2051.239990  2091.689941
2  2015-12-03  2080.709961  2085.000000  2042.349976  2049.620117
3  2015-12-02  2101.709961  2104.270020  2077.110107  2079.510010
4  2015-12-01  2082.929932  2103.370117  2082.929932  2102.629883

         Volume    Adj Close
0  4.043820e+09  2077.070068
1  4.214910e+09  2091.689941
2  4.306490e+09  2049.620117
3  3.950640e+09  2079.510010
4  3.712120e+09  2102.629883
(16590, 7)

In [3]:
def import_csv (file_name):
    data = pd.read_csv(file_name)
    return data

# Step 2: Format, Sort and Reindex Data
* Date column is object format, format it to date format
* Sort data by date in ascending order
* Reset index after sorting 
* Put all codes into a function

In [4]:
print(data['Date'].dtype)
data['Date'] = pd.to_datetime(data['Date'])
print(data['Date'].dtype)

object
datetime64[ns]

In [5]:
import datetime
data['after_2015_04'] = data['Date'] >= datetime.datetime(year=2015, month=4, day=1)
print(data['after_2015_04'].head(3))
data = data.sort_values('Date', ascending = True)
print(data.head(3))
#index got shuffled after sorting, reset index to have the index in order again
data = data.reset_index(drop=True)
print(data.head(3))

0    True
1    True
2    True
Name: after_2015_04, dtype: bool
            Date   Open   High    Low  Close     Volume  Adj Close  \
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93

       after_2015_04
16589          False
16588          False
16587          False
        Date   Open   High    Low  Close     Volume  Adj Close  after_2015_04
0 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66          False
1 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85          False
2 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93          False

In [6]:
def clean_data(data):
    data['Date'] = pd.to_datetime(data['Date'])
    import datetime
    data['after_2015_04'] = data['Date'] >= datetime.datetime(year=2015, month=4, day=1)
    data = data.sort_values('Date', ascending = True)
    data = data.reset_index(drop=True)
    return data

# Step 3: Add More Features to the Data
* Add indicator columns for 5/30/365 day moving averages and moving standard deviations for closing prices

    *Note: when taking average values or the standard deviation of the past 5/30/365 days, DO      NOT use the current row in the values*
    
    
* Add indicator columns for those ratios: 
    * average 5 days closing price/average 365 days closing price
    * standard deviation of 5 days closing price/standard deviation of 365 days closing price    
* Further filter data by dropping off rows with null records after all featues are added
* Put all codes into a function

In [7]:
import numpy as np
for i in range(5, len(data)):
    data.loc[i, '5_day_mean_close'] = np.mean(data.loc[i-5:i-1,'Close'])
    data.loc[i, '5_day_std_close'] = np.std(data.loc[i-5:i-1,'Close'])
    
data.loc[0:10, ['Close', '5_day_mean_close', '5_day_std_close']]

        Close  5_day_mean_close  5_day_std_close
0   16.660000               NaN              NaN
1   16.850000               NaN              NaN
2   16.930000               NaN              NaN
3   16.980000               NaN              NaN
4   17.080000               NaN              NaN
5   17.030001            16.900         0.141280
6   17.090000            16.974         0.079649
7   16.760000            17.022         0.060465
8   16.670000            16.988         0.120565
9   16.719999            16.926         0.175795
10  16.860001            16.854         0.171651

In [8]:
for i in range(30, len(data)):
    data.loc[i, '30_day_mean_close'] = np.mean(data.loc[i-30:i-1,'Close'])
    data.loc[i, '30_day_std_close'] = np.std(data.loc[i-30:i-1,'Close'])

data.loc[25:35, 'Close':'30_day_std_close']

,Close,Volume,Adj Close,after_2015_04,5_day_mean_close,5_day_std_close,30_day_mean_close,30_day_std_close
25,17.230000,1360000.0,17.230000,False,17.188,0.116345,NaN,NaN
26,17.209999,1470000.0,17.209999,False,17.224,0.093724,NaN,NaN
27,17.280001,1810000.0,17.280001,False,17.256,0.041762,NaN,NaN
28,17.240000,1790000.0,17.240000,False,17.266,0.040299,NaN,NaN
29,17.059999,2210000.0,17.059999,False,17.256,0.039294,NaN,NaN
30,17.059999,1730000.0,17.059999,False,17.204,0.075525,16.976667,0.194651
31,16.990000,1920000.0,16.990000,False,17.170,0.092521,16.990000,0.186011
32,17.150000,1940000.0,17.150000,False,17.126,0.113067,16.994667,0.184187
33,17.200001,1420000.0,17.200001,False,17.100,0.086487,17.002000,0.185839
34,17.170000,1260000.0,17.170000,False,17.092,0.074135,17.009333,0.189137
35,17.209999,1310000.0,17.209999,False,17.114,0.077615,17.012333,0.190940

In [9]:
for i in range(365, len(data)):
    data.loc[i, '365_day_mean_close'] = np.mean(data.loc[i-365:i-1,'Close'])
    data.loc[i, '365_day_std_close'] = np.std(data.loc[i-365:i-1,'Close'])

data.loc[360:370, 'Close':'365_day_std_close']

,Close,Volume,Adj Close,after_2015_04,5_day_mean_close,5_day_std_close,30_day_mean_close,30_day_std_close,365_day_mean_close,365_day_std_close
360,21.520000,1200000.0,21.520000,False,21.494,0.094784,21.842000,0.578287,NaN,NaN
361,21.549999,1060000.0,21.549999,False,21.532,0.047917,21.811667,0.570462,NaN,NaN
362,21.840000,1300000.0,21.840000,False,21.546,0.040299,21.779000,0.556275,NaN,NaN
363,22.040001,1370000.0,22.040001,False,21.602,0.125443,21.753000,0.534148,NaN,NaN
364,22.049999,1050000.0,22.049999,False,21.712,0.198736,21.727333,0.500160,NaN,NaN
365,22.020000,1100000.0,22.020000,False,21.800,0.229173,21.703333,0.465635,19.447726,1.787799
366,21.910000,1120000.0,21.910000,False,21.900,0.191102,21.683000,0.437174,19.462411,1.786854
367,21.780001,1100000.0,21.780001,False,21.972,0.082801,21.659667,0.404537,19.476274,1.786161
368,21.549999,1340000.0,21.549999,False,21.960,0.102956,21.631000,0.362320,19.489562,1.785209
369,21.290001,2440000.0,21.290001,False,21.862,0.182582,21.599000,0.323598,19.502082,1.783589
370,21.299999,1260000.0,21.299999,False,21.710,0.261916,21.564333,0.298135,19.513617,1.781500

In [10]:
data['5_day_mean_close/365_day_mean_close'] = data['5_day_mean_close']/data['365_day_mean_close']
data['5_day_std_close/365_day_std_close'] = data['5_day_std_close']/data['365_day_std_close']
data.loc[363:368, 'Close':'5_day_std_close/365_day_std_close']

,Close,Volume,Adj Close,after_2015_04,5_day_mean_close,5_day_std_close,30_day_mean_close,30_day_std_close,365_day_mean_close,365_day_std_close,5_day_mean_close/365_day_mean_close,5_day_std_close/365_day_std_close
363,22.040001,1370000.0,22.040001,False,21.602,0.125443,21.753000,0.534148,NaN,NaN,NaN,NaN
364,22.049999,1050000.0,22.049999,False,21.712,0.198736,21.727333,0.500160,NaN,NaN,NaN,NaN
365,22.020000,1100000.0,22.020000,False,21.800,0.229173,21.703333,0.465635,19.447726,1.787799,1.120954,0.128187
366,21.910000,1120000.0,21.910000,False,21.900,0.191102,21.683000,0.437174,19.462411,1.786854,1.125246,0.106949
367,21.780001,1100000.0,21.780001,False,21.972,0.082801,21.659667,0.404537,19.476274,1.786161,1.128142,0.046357
368,21.549999,1340000.0,21.549999,False,21.960,0.102956,21.631000,0.362320,19.489562,1.785209,1.126757,0.057672

In [11]:
data2 = data[data['Date'] > datetime.datetime(year=1951, month=1, day=2)].copy()
print(data2.shape)
data2.dropna(inplace = True)
print(data2.shape)

(16340, 16)
(16225, 16)

In [12]:
def add_features_and_filter(data):
    import numpy as np
    
    for i in range(5, len(data)):
        data.loc[i, '5_day_mean_close'] = np.mean(data.loc[i-5:i-1,'Close'])
        data.loc[i, '5_day_std_close'] = np.std(data.loc[i-5:i-1,'Close'])
    
    for i in range(30, len(data)):
        data.loc[i, '30_day_mean_close'] = np.mean(data.loc[i-30:i-1,'Close'])
        data.loc[i, '30_day_std_close'] = np.std(data.loc[i-30:i-1,'Close'])

    for i in range(365, len(data)):
        data.loc[i, '365_day_mean_close'] = np.mean(data.loc[i-365:i-1,'Close'])
        data.loc[i, '365_day_std_close'] = np.std(data.loc[i-365:i-1,'Close'])

    data['5_day_mean_close/365_day_mean_close'] = data['5_day_mean_close']/data['365_day_mean_close']
    data['5_day_std_close/365_day_std_close'] = data['5_day_std_close']/data['365_day_std_close']

    data2 = data[data['Date'] > datetime.datetime(year=1951, month=1, day=2)].copy()
    data2.dropna(inplace = True)
    return data2

# Step 4: Train and Test
* Split data into train and test
* Build a linear regression model
* Fit and predict the data
* Create and display a comparison matrix to show actual values vs. predicted values
* Put all codes into a function

In [13]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

train = data2[data2['Date'] < datetime.datetime(year=2013, month=1, day=1)]
test = data2[data2['Date'] >= datetime.datetime(year=2013, month=1, day=1)]
print(train.shape, test.shape)

lm = LinearRegression()
original_cols = ['Date', 'Open', 'High', 'Low',  'Close', 'Volume', 'Adj Close']
lm.fit(train.drop(original_cols, axis = 1), train['Close'])
predictions = lm.predict(test.drop(original_cols, axis = 1))
print(mean_absolute_error(predictions,test['Close']))
d = {'actual' : test['Close'], 'predicted' : predictions} 
comparison = pd.DataFrame(d)
print('\n actual vs. predict (first 5 values) \n', comparison.head())
print('\n actual vs. predict (last 5 values) \n', comparison.tail())

(15486, 16) (739, 16)
16.21620826359042

 actual vs. predict (first 5 values)
             actual    predicted
15851  1462.420044  1418.706799
15852  1459.369995  1423.902102
15853  1466.469971  1431.570688
15854  1461.890015  1441.539769
15855  1457.150024  1456.105008

 actual vs. predict (last 5 values)
             actual    predicted
16585  2102.629883  2087.925076
16586  2079.510010  2090.470793
16587  2049.620117  2087.921471
16588  2091.689941  2077.554449
16589  2077.070068  2077.721374

In [14]:
def train_test(data2):
    train = data2[data2['Date'] < datetime.datetime(year=2013, month=1, day=1)]
    test = data2[data2['Date'] >= datetime.datetime(year=2013, month=1, day=1)]

    lm = LinearRegression()
    original_cols = ['Date', 'Open', 'High', 'Low',  'Close', 'Volume', 'Adj Close']
    lm.fit(train.drop(original_cols, axis = 1), train['Close'])
    predictions = lm.predict(test.drop(original_cols, axis = 1))

    d = {'actual' : test['Close'], 'predicted' : predictions} 
    comparison = pd.DataFrame(d)
    print('\n actual vs. predict (first 5 values) \n', comparison.head())
    print('\n actual vs. predict (last 5 values) \n', comparison.tail())
    
    return mean_absolute_error(predictions,test['Close'])

# Step 5: Entire Run Through
* Run through the entire process from beginning to end with the functions built previously

In [15]:
df1 = import_csv('sphist.csv')
df2 = clean_data(df1)
df3 = add_features_and_filter(df2)
mean_abs_error = train_test(df3)
print(mean_abs_error)

 actual vs. predict (first 5 values)
             actual    predicted
15851  1462.420044  1418.706799
15852  1459.369995  1423.902102
15853  1466.469971  1431.570688
15854  1461.890015  1441.539769
15855  1457.150024  1456.105008

 actual vs. predict (last 5 values)
             actual    predicted
16585  2102.629883  2087.925076
16586  2079.510010  2090.470793
16587  2049.620117  2087.921471
16588  2091.689941  2077.554449
16589  2077.070068  2077.721374
16.21620826359042

# Step 6: Add More Features to Improve Model
Add one more features by modifying the add_features_and_filter function:
   - The day of week

In [16]:
#Just testing out the series.dt functions
print(df3['Date'], df3['Date'].dt.month)
print(df3['Date'], df3['Date'].dt.weekday)

365     1951-06-19
366     1951-06-20
367     1951-06-21
368     1951-06-22
369     1951-06-25
370     1951-06-26
371     1951-06-27
372     1951-06-28
373     1951-06-29
374     1951-07-02
375     1951-07-03
376     1951-07-05
377     1951-07-06
378     1951-07-09
379     1951-07-10
380     1951-07-11
381     1951-07-12
382     1951-07-13
383     1951-07-16
384     1951-07-17
385     1951-07-18
386     1951-07-19
387     1951-07-20
388     1951-07-23
389     1951-07-24
390     1951-07-25
391     1951-07-26
392     1951-07-27
393     1951-07-30
394     1951-07-31
           ...
16560   2015-10-26
16561   2015-10-27
16562   2015-10-28
16563   2015-10-29
16564   2015-10-30
16565   2015-11-02
16566   2015-11-03
16567   2015-11-04
16568   2015-11-05
16569   2015-11-06
16570   2015-11-09
16571   2015-11-10
16572   2015-11-11
16573   2015-11-12
16574   2015-11-13
16575   2015-11-16
16576   2015-11-17
16577   2015-11-18
16578   2015-11-19
16579   2015-11-20
16580   2015-11-23
16581   2015-11-24
16582   2015-11-25
16583   2015-11-27
16584   2015-11-30
16585   2015-12-01
16586   2015-12-02
16587   2015-12-03
16588   2015-12-04
16589   2015-12-07
Name: Date, Length: 16225, dtype: datetime64[ns] 365       6
366       6
367       6
368       6
369       6
370       6
371       6
372       6
373       6
374       7
375       7
376       7
377       7
378       7
379       7
380       7
381       7
382       7
383       7
384       7
385       7
386       7
387       7
388       7
389       7
390       7
391       7
392       7
393       7
394       7
         ..
16560    10
16561    10
16562    10
16563    10
16564    10
16565    11
16566    11
16567    11
16568    11
16569    11
16570    11
16571    11
16572    11
16573    11
16574    11
16575    11
16576    11
16577    11
16578    11
16579    11
16580    11
16581    11
16582    11
16583    11
16584    11
16585    12
16586    12
16587    12
16588    12
16589    12
Name: Date, Length: 16225, dtype: int64
365     1951-06-19
366     1951-06-20
367     1951-06-21
368     1951-06-22
369     1951-06-25
370     1951-06-26
371     1951-06-27
372     1951-06-28
373     1951-06-29
374     1951-07-02
375     1951-07-03
376     1951-07-05
377     1951-07-06
378     1951-07-09
379     1951-07-10
380     1951-07-11
381     1951-07-12
382     1951-07-13
383     1951-07-16
384     1951-07-17
385     1951-07-18
386     1951-07-19
387     1951-07-20
388     1951-07-23
389     1951-07-24
390     1951-07-25
391     1951-07-26
392     1951-07-27
393     1951-07-30
394     1951-07-31
           ...
16560   2015-10-26
16561   2015-10-27
16562   2015-10-28
16563   2015-10-29
16564   2015-10-30
16565   2015-11-02
16566   2015-11-03
16567   2015-11-04
16568   2015-11-05
16569   2015-11-06
16570   2015-11-09
16571   2015-11-10
16572   2015-11-11
16573   2015-11-12
16574   2015-11-13
16575   2015-11-16
16576   2015-11-17
16577   2015-11-18
16578   2015-11-19
16579   2015-11-20
16580   2015-11-23
16581   2015-11-24
16582   2015-11-25
16583   2015-11-27
16584   2015-11-30
16585   2015-12-01
16586   2015-12-02
16587   2015-12-03
16588   2015-12-04
16589   2015-12-07
Name: Date, Length: 16225, dtype: datetime64[ns] 365      1
366      2
367      3
368      4
369      0
370      1
371      2
372      3
373      4
374      0
375      1
376      3
377      4
378      0
379      1
380      2
381      3
382      4
383      0
384      1
385      2
386      3
387      4
388      0
389      1
390      2
391      3
392      4
393      0
394      1
        ..
16560    0
16561    1
16562    2
16563    3
16564    4
16565    0
16566    1
16567    2
16568    3
16569    4
16570    0
16571    1
16572    2
16573    3
16574    4
16575    0
16576    1
16577    2
16578    3
16579    4
16580    0
16581    1
16582    2
16583    4
16584    0
16585    1
16586    2
16587    3
16588    4
16589    0
Name: Date, Length: 16225, dtype: int64

In [17]:
#Modify the add_features_and_filter function

def add_features_and_filter(data):
    import numpy as np
    
    for i in range(5, len(data)):
        data.loc[i, '5_day_mean_close'] = np.mean(data.loc[i-5:i-1,'Close'])
        data.loc[i, '5_day_std_close'] = np.std(data.loc[i-5:i-1,'Close'])
    
    for i in range(30, len(data)):
        data.loc[i, '30_day_mean_close'] = np.mean(data.loc[i-30:i-1,'Close'])
        data.loc[i, '30_day_std_close'] = np.std(data.loc[i-30:i-1,'Close'])

    for i in range(365, len(data)):
        data.loc[i, '365_day_mean_close'] = np.mean(data.loc[i-365:i-1,'Close'])
        data.loc[i, '365_day_std_close'] = np.std(data.loc[i-365:i-1,'Close'])

    data['5_day_mean_close/365_day_mean_close'] = data['5_day_mean_close']/data['365_day_mean_close']
    data['5_day_std_close/365_day_std_close'] = data['5_day_std_close']/data['365_day_std_close']
    data['Weekday'] = data['Date'].dt.weekday

    data2 = data[data['Date'] > datetime.datetime(year=1951, month=1, day=2)].copy()
    data2.dropna(inplace = True)
    return data2

# Step 7: Rerun Entire Process
* After modifying the model by adding one more features rerun to see if model improves

In [18]:
df1 = import_csv('sphist.csv')
df2 = clean_data(df1)
df3 = add_features_and_filter(df2)
mean_abs_error = train_test(df3)
print(mean_abs_error)

 actual vs. predict (first 5 values)
             actual    predicted
15851  1462.420044  1418.706501
15852  1459.369995  1423.909841
15853  1466.469971  1431.586140
15854  1461.890015  1441.525203
15855  1457.150024  1456.097568

 actual vs. predict (last 5 values)
             actual    predicted
16585  2102.629883  2087.916723
16586  2079.510010  2090.470136
16587  2049.620117  2087.928382
16588  2091.689941  2077.569258
16589  2077.070068  2077.706070
16.21615097261058